<div class="app-body animated fadeIn">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row mt-4">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div>
                <img src="../../../../assets/img/logo.svg">
              </div>
              <div class="card-body custom-login">
                <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
                  <p class="text-muted">Sign In to your account</p>
                  <div class="form-group input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user"></i>
                      </span>
                    </div>
                    <input type="text" formControlName="first_name" class="form-control" [ngClass]="(registerForm.get('first_name').touched && registerForm.get('first_name').invalid)?'is-invalid':''"
                           placeholder="First Name">
                    <div class="invalid-feedback" *ngIf="registerForm.get('first_name').touched && registerForm.get('first_name').invalid">
                      Valid firstname required
                    </div>
                  </div>
                  <div class="form-group input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user"></i>
                      </span>
                    </div>
                    <input type="text" formControlName="last_name" class="form-control" [ngClass]="(registerForm.get('last_name').touched && registerForm.get('last_name').invalid)?'is-invalid':''"
                           placeholder="Last Name">
                    <div class="invalid-feedback" *ngIf="registerForm.get('last_name').touched && registerForm.get('last_name').invalid">
                      Valid lastname required
                    </div>
                  </div>
                  <div class="form-group input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user"></i>
                      </span>
                    </div>
                    <input type="email" formControlName="email" class="form-control" [ngClass]="(registerForm.get('email').touched && registerForm.get('email').invalid)?'is-invalid':''"
                      placeholder="Email Address">
                    <div class="invalid-feedback" *ngIf="registerForm.get('email').touched && registerForm.get('email').invalid">
                      Valid email required
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-lock"></i>
                      </span>
                    </div>
                    <input type="password" formControlName="password" [ngClass]="(registerForm.get('password').touched && registerForm.get('password').invalid)?'is-invalid':''"
                      class="form-control" placeholder="Password">
                    <div class="invalid-feedback" *ngIf="registerForm.get('password').touched && registerForm.get('password').invalid">
                      Password required
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4 login-btn" [disabled]="!registerForm.valid">Register</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
