<div class="animated fadeIn">
  <div class="clearfix">
    <button
      class="btn btn-sm btn-primary ml-1 float-right mb-2"
      type="button"
      (click)="importModel(import)">
      Import
    </button>
  </div>
  <div class="card">
    <div class="card-body">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover w-100">
        <thead>
        <tr>
          <th>Name</th>
          <th>Unique Code</th>
          <th>Description</th>
          <th>Category</th>
        
        </tr>
        </thead>
        <tbody *ngIf="users?.length != 0">
        <tr *ngFor="let person of users">
          <td>{{ person.name }}</td>
          <td>{{ person.unique_code }}</td>
          <td>{{ person.description }}</td>
          <td>{{ person.category.name }}</td>
          
        </tr>
        </tbody>
        <tbody *ngIf="users?.length == 0">
        <tr>
          <td colspan="4" class="no-data-available">No data!</td>
        </tr>
        <tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #import>
  <div class="modal-body modal-body-txt">
    <h4 class="modal-title title-center">Import</h4>
    <form
      [formGroup]="importForm"
      #ngForm="ngForm"
      novalidate
      (ngSubmit)="importSubmit(ngForm)"
      autocomplete="off"
    >
      <!-- <div class="col-md-6"> -->
      <div class="form-group mt-3">
        <input
          class="form-control"
          accept=".xlsx, .xls, .csv"
          [class.is-invalid]="!ngForm.valid && ngForm.submitted"
          type="file"
          (change)="onSelect($event)"
          formControlName="import_file"
        />
        <div
          class="invalid-feedback d-block"
          *ngIf="ngForm.submitted && !ngForm.valid"
        >
          File is required field.
        </div>
      </div>
      <button class="btn btn-primary" type="submit">
        Import</button
      >&nbsp;
    </form>
  </div>
  <div class="modal-footer modal-footer-buttons">
    <button
      class="btn modal-cancel-button btn-danger"
      type="button"
      (click)="closeModel()"
    >
      Cancel
    </button>
  </div>
</ng-template>
